* {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

body{
    background-color: lightgray;
}

.wrapper{
    max-width: 1024px;
    margin: 0 auto;
    background: url(img/bg.jpg);
}

/* header */

header{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
}

header p{
    font-family: 'Mansalva', cursive;
    font-size: 40px;
    padding: 20px 0;
    color: royalblue;
}

h1{
    font-size: 40px;
}

/* main */

.img-me-wrapper{
    display: block;
    float: left;
}

.img-me-wrapper img{
    height: auto;
    width: 100%;
    max-width: 400px;
    padding: 0 15px;
}

ul{
    list-style-type: circle;
}

li{
    padding: 0 10px;
    line-height: 130%;
}

a{
    text-decoration: none;
    color: royalblue;
}

.about-me p{
    padding: 0 15px;
    font-size: 26px;
    line-height: 150%;
}

footer{
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    color: royalblue;
}